body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2.5rem;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.yellow{
    background-color: #FCE700;
}

.red{
    background-color: #EA047E;
}

.green{
    background-color: #819ff9;
}

.purple{
    background-color: #FF6D28;
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: greenyellow;
}